<h1>Crystal Ball</h1>

<img src="./logo_medium.png"></img>

<p>Ask me anything.</p>

<div>
<%= form_tag(objects_path, method: :post) do %>

    <%= label_tag(:key, "Key:") %>
    <%= text_field_tag(:key) %>
    </br></br>

    <%= label_tag(:word, "Password:") %>
    <%= text_field_tag(:word) %>
    </br></br>

    <%= label_tag(:query, "Query:") %> </br>
    <%= text_area_tag(:query, nil, rows: 10, cols: 50) %>
    </br></br>

    <%= submit_tag("Submit") %>

<% end %>
</div>

</br>
<div class="row mb-3">

<div id="query_result">
  <!-- This will be replaced by the Turbo Stream update -->
</div>

</div>


</br>
<p><a href="https://twitter.com/digiconfucius">@DigitalConfucius</a></p>