<h1>Crystal Ball</h1>

<img src="./logo_medium.png"></img>

<p>Ask me anything.</p>

<div>
<%= form_tag(objects_path, method: :post) do %>

    <%= label_tag(:key, "Key:") %>
    <%= text_field_tag(:key) %>
    </br></br>

    <%= label_tag(:word, "Secret Word:") %>
    <%= text_field_tag(:word) %>
    </br></br>

    <%= label_tag(:query, "Query:") %>
    <%= text_field_tag(:query) %>
    </br></br>

    <%= submit_tag("Submit") %>

<% end %>
</div>

</br>
<div class="row mb-3">
<% if @query.present? %>
  <p>Received query: <%= @query %></p>
<% end %>
</div>


</br>
<p><a href="https://twitter.com/digiconfucius">@DigitalConfucius</a></p>