<h1>Crystal Ball</h1>

<img src="./logo_medium.png"></img>

<p>Ask me about something that you want to know.</p>

<div>

<%= form_tag(submit_form_path, method: :post) do %>
    <%= label_tag(:data, "Enter some data:") %>
    <%= text_field_tag(:data) %>
    <%= submit_tag("Submit") %>
<% end %>

<% if @data.present? %>
  <p>Received data: <%= @data %></p>
<% end %>

</div>

<p><a href="https://twitter.com/digiconfucius">@DigitalConfucius</a></p>